[core]
  autocrlf = input
  excludesfile = ~/.gitignore_global
  pager = delta

[init]
  defaultBranch = main

[pull]
  rebase = false

[push]
  autoSetupRemote = true

[merge]
  conflictstyle = diff3

[diff]
  colorMoved = default

[delta]
  navigate = true
  light = false
  side-by-side = true
  line-numbers = true
  syntax-theme = Dracula

[alias]
  st = status
  co = checkout
  br = branch
  lg = log --oneline --graph --all --decorate
  undo = reset --soft HEAD~1
  aliases = config --get-regexp alias
